<%- include('partial/header.ejs')%>
    <div class="container-fluid home">
        <%- include('partial/navbar.ejs')%>
            <div class="container">
                <%- include('partial/signin.ejs')%>
            </div>
    </div>
<%- include('partial/footer.ejs')%>