<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bc382c3fce.js" crossorigin="anonymous"></script>
    <style>
        html, body {
            background-image: url('img/bg.jpg');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
        .menu {
            background-color: rgba(223, 230, 233,0.1);
        }
        .login{
            background-color: rgba(99, 110, 114,0.5);
            width: 50vw;
            /* height: 50vh; */
            margin: 8% auto;
        }
        .home{
            background-color: rgba(223, 230, 233,0.5);
            height: 150%;
        }
        #logo {
                margin: 0 auto 20px 0;
                /* width: 200px; */
                font-family: 'Lily Script One', cursive;
                font-size: 60px;
                font-weight: bold;
                text-align: center;
                color: white;
                transition: 0.2s ease all;
            }

        #logo:hover {
            color: lightgray;
        }
        .submit {
            background-color: rgba(116, 185, 255,1.0);
            font-weight: bold;
        }
        .logo{
            width: 18vw;
        }
    </style>
    <title>lookaround</title>
  </head>
<body>